{% extends 'plotbase.html' %}

{% block head %}
{{block.super}}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
<html>
    <header class="header">
        <a class="logohead" href="/">
        
        <h3 style="font-family: 'Ubuntu', sans-serif;">Vincenty.Py</h3></a>
        <div></div>
    </header>
<h1 class="headd"> Problème direct</h1>
<title>Problème direct</title>
<body>
    
    {% if not plot %}
    <div id="myform">
    <form id="form" action="" method="post" class="custform">
        {% csrf_token %}
        <h4 class="cont">Choisissez une ellipsoide de référence</h4 class="cont">
        <div>
            {{form.ellipsoid}}
        </div>
        <h4 class="cont">Sinon précisez les valeurs des demi-axes <small>(en m)</small></h4 class="cont">
            <h4>Demi grand axe:</h4> {{form.grand}}
            <h4>Demi petit axe:</h4> {{form.petit}}
        <h4 class="cont">Coordonnées du point de départ</h4 class="cont">
        <h4>Latitude:</h4> <div id="lat">{{form.latitude}}</div>
        <h4>Longitude:</h4> <div id="lon">{{form.longitude}}</div>
        <h4 class="cont">Azimut du point de départ <small>(en degrés décimals)</small></h4 class="cont">
        <div id="az">{{form.azimut}}</div>
        <h4 class="cont">La distance géodésique <small>(en m)</small></h4 class="cont">
        <div id="dist">{{form.distance_geodesique}}</div><br>
        <br>
        <input type="Submit" name="action"  value="Calculer" class="button"/>
        <input type="Submit" name="action"  value="Visualiser" class="button"/>
        
    </form>
    <div id="mydiv">

        <h4 class="arrivee">Latitude du point d'arrivé:</h4> <h4 class="arrivee0">{{latitude}}</h4>

        <h4 class="arrivee">Longitude du point d'arrivé:</h4> <h4 class="arrivee0">{{longitude}}</h4>

        <h4 class="arrivee">Azimut inverse:</h4> <h4 class="arrivee0">{{azimut}}</h4>
    </div>
</div>

    {% else %}
    <div id="plot" style="display:block;">
        <div class="row" >
        <h2 class="visualisation">Visualisation</h2>
          {# <div id="plot_container" class="col-md-8 col-md-offset-2">{{plot|safe}}</div>#}
          <div class="">{{plot|safe}}</div>
          <a href="/direct" class="previous">&laquo; Back</a></div>
        </div>
        
    {% endif %}

</body>
</html>
{%endblock%}